<div class="product-body">
    <h2>{{product_name}}</h2>

<h3>
{{rating}} out of 5
    {{category}}
    {{description}}
    {{size}}
    ${{price}}
    {{store.store_name}}
    {{store.city}}, {{store.state}} {{store.zip}}

    </h3>
    </div>