<div class="product-body">
    <h2>{{product_name}}</h2>

<h3>
{{rating}} out of 5
    {{category}}
    {{description}}
    {{size}}
    {{price}}
    {{store_name}}
    {{city}}, {{state}} {{zip}}

    </h3>