<section class="edit-product">
    <h2>Edit product</h2>

    <form class="edit-product-form">
        <label for="product-name">Product Name</label>
        <input type="text" id="product-name" name="product-name" value="{{product.product_name}}" />
        <label for="product-category">Category</label>
        <input type="text" id="product-category" name="product-category" value="{{product.category}}" />
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="{{product.description}}" />
        <label for="size">Size</label>
        <input type="text" id="size" name="size" value="{{product.size}}" />
        <label for="price">Price</label>
        <input type="decimal" id="price" name="price" value="{{product.price}}" />
        <label for="rating">Rating</label>
        <input type="number" id="rating" name="rating" value="{{product.rating}}" />

        <button type="submit" class="btn">Update</button>
        <button onclick="location.href='/product/add'">Add Product</button>
        <button onclick="location.href='/product'">Search/View</button>
    </form>
</section>

<script src='/javascript/editProduct.js'></script>