
<div class="product-body">
    
    <fieldset data-role="controlgroup" data-type="vertical">
    <label for="storeNames">Stores</label>
    <select id="storeNames">
    <option value="">Select Store</option>
        {{#each stores}}
        <option value="{{id}}">{{store_name}}</option>
        {{/each}} 
    </select>
<label for="categoryNames">Categories</label>
    <select id="categoryNames">
        <option value="">Select Category</option>
        {{#each categories}}
        <option value="{{category}}">{{category}}</option>
        {{/each}}
    </select>
    </fieldset>
    <h2>Current Products</h2>
    <ul id="productsOnLoad">
        {{#each products}}
            <li class="title-text">
            <a href="/product/view/{{id}}"><h2>{{product_name}}</h2>  <h3>${{price}} ({{rating}} out of 5)</h3></a>  
            </li>
        {{/each}}
    </ul>
    <div class="container"></div>
</div>
{{!-- <a class="link" href="/product/price" id="sortByPrice">sort by price</a>
<br>
<a class="link" href="/product/rank" id="sortByRank">sort by rank</a> --}}
<script src="/javascript/search_results.js"></script>

